/target/classes/META-INF/MANIFEST.MF
/target/classes/META-INF/maven/co.aurasphere/annotations-z/pom.properties
/target/classes/META-INF/maven/co.aurasphere/annotations-z/pom.xml
/target/classes/co/aurasphere/annotations/z/BigOof.class
/target/classes/co/aurasphere/annotations/z/Ded.class
/target/classes/co/aurasphere/annotations/z/Fam.class
/target/classes/co/aurasphere/annotations/z/Gucci.class
/target/classes/co/aurasphere/annotations/z/Lit.class
/target/classes/co/aurasphere/annotations/z/Meme.class
/target/classes/co/aurasphere/annotations/z/No_U.class
/target/classes/co/aurasphere/annotations/z/Oof.class
/target/classes/co/aurasphere/annotations/z/Periodt.class
/target/classes/co/aurasphere/annotations/z/S_N_A_C_C.class
/target/classes/co/aurasphere/annotations/z/Salty.class
/target/classes/co/aurasphere/annotations/z/Smol.class
/target/classes/co/aurasphere/annotations/z/Squad.class
/target/classes/co/aurasphere/annotations/z/Sus.class
/target/classes/co/aurasphere/annotations/z/T_H_I_C_C.class
/target/classes/co/aurasphere/annotations/z/Triggered.class
/target/classes/co/aurasphere/annotations/z/YOLO.class
/target/classes/co/aurasphere/annotations/z/Yeet.class
/.project
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.classpath
